html{
    font-family: 'Calibri', arial, sans-serif;
}

/*Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
    
}

/*Header*/
#header-container{
    display: flex;
    justify-content: center;
    text-align:center;
    padding: 25px 20px;
}

#header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction:row;
    width:100%;
    max-width:900px
}

#header .nav ul{
    display: flex;
    gap:10px;
    list-style:none;
    text-decoration: none;
}

#header .nav ul li a{
    position: relative;
    border: 1px solid transparent;
    color: #3E4245;
    display: block;
    z-index: 100;
    padding: 6px 12px;
    line-height: 18px;
    font-size:15px;
    text-decoration: none;
    font-family: 'Calibri', arial, sans-serif;
}

#header .nav ul li a:hover {
    color: #7B9EBB;
}

#header .nav ul li.current_page_item a{
    border: 1px solid #ddd;
    border-color: rgba(0, 0, 0, .15);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #f5f5f5;
    background: -moz-linear-gradient(100% 100% 90deg, #f5f5f5, #fff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f5f5f5));
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.03);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .03);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .03);
    color: #7B9EBB;
}

/* Menu responsive */
/* ======= BOTÓN MENÚ HAMBURGUESA ======= */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
  transition: transform 0.2s ease;
}

.menu-toggle:active {
  transform: scale(0.9);
}

/* ======= RESPONSIVE MENÚ ======= */
@media (max-width: 767px) {
    #logo img{
        width:90px;
    }
    
    #navigation{
        display: flex;
    justify-content: end !important;
    }
  .menu-toggle {
    display: block;
  }

  .nav ul {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        width: 230px;
        background: #fff;
        padding: 10px;
        position: absolute;
        top: 100%;
        right: 0;
        display: none !important;
        z-index: 10;
        box-shadow: 0px 0px 8px 0px #00000025;
  }

  .nav ul.show {
    display: flex !important; /* Mostrar cuando se activa */
  }

  #navigation {
    position: relative;
    width: 100%;
    justify-content: center;
  }
}


/*Footer*/

#footer{
    display: flex;
    width:100%;
    justify-content: center;
    text-align:center;
    padding-top:50px;
}

#footer h6{
    font-family: 'PT Sans', arial, sans-serif;
    font-size: 14px;
    margin: 0;
    color: #222;
    font-weight: normal;
    line-height: 1.1em;
}

#footer #copyright{
    color: #666;
    font-family: sans-serif;
    font-size: 12px;
    margin: 0;
    font-weight: normal;
    padding:20px;
    line-height:18px;

}

/* GENERALES DEL SITIO*/
.site-title, .site-description{
    display: none;
}

#title-container{
    margin-top: 3px;
    margin-bottom: 1px;
    padding: 5px 0;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:row;
    width:100%;
    background-color: #E5EBF0;
}

#title-container .title{
    max-width: 900px;
    width:100%;
    padding: 0 20px;
    font: 20px Calibri, arial, serif;
    font-weight: 400;
    color: #293f4c;
}
#content{
    margin-top:20px;
    width:100%;
    display: flex;
    justify-content: center;
}

#main{
    width:100%;
    max-width:900px;
    padding: 0 20px;
}


.entry, .entry p {
    font: 14px / 1.5em sans-serif;
    color: #666666;
    margin-bottom: 1.2em;
}

/* HOME */
.slide-image img{
    position: absolute;
    margin-top: -20px;
    width: 100%;
    max-width: 960px;
}
@media (max-width: 1024px) {
  .slide-image {
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
    padding: 0 !important;
  }

  .slide-image img {
    width: 100% !important;
    height: auto !important;
    display: block;
    margin-top: -10px !important;
  }
}


/*ACERCA DE*/
#acerca-de{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    gap:40px;
}

.threecol-one{
    width:33%;
}

#acerca-de p{
    font: 14px / 1.5em sans-serif;
    color: #666666;
    text-align: justify;
    margin-bottom: 1.2em;
}

@media (max-width: 1024px) {
    #acerca-de{
        flex-wrap: wrap;
        gap:20px;
    }
    #acerca-de .threecol-one:first-child{
        width:100%;
    }
    #acerca-de .threecol-one{
        width:48%;
    }
}
@media (max-width: 767px) {
    #acerca-de{
        flex-wrap: wrap;
        gap:20px;
    }
    #acerca-de .threecol-one:first-child{
        width:100%;
    }
    #acerca-de .threecol-one:first-child p{
        text-align: center;
    }
    #acerca-de .threecol-one{
        width:100%;
    }
}


/* SERVICIOS OFRECIDOS */
#servicios .column{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    max-width:900px;
}

#servicios .column .threecol-one ul{
    padding: 0 0 0 30px;
}

#servicios .column .threecol-one .col-img{
    width:100%;
    object-fit: cover;
    margin-bottom: 26px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
     border-radius:2px;
     border: 1px solid #666666;
}

#servicios p.subtitle{
    font: 15px / 1.5em sans-serif;
    color: #666666;
    margin-bottom:16px;
    font-weight:500;
}
#servicios .column .threecol-one{
    font: 14px / 1.5em sans-serif;
    color: #666666;
}

@media (max-width: 767px) {
    #servicios .column{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    #servicios .column .threecol-one{
        width: 100%;
    }
}

/* TRANSACCIONES */

#transacciones ul{
    padding-left:30px;
}

#transacciones #gallery-1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
#transacciones #gallery-1 .gallery-item{
    width: 100%;
}

.gallery-caption{
    max-width: 150px;
    justify-self: center;
    font: 12px / 1.5em sans-serif;
    color: #666666;
}

@media (max-width: 900px) {
    #transacciones #gallery-1{
    grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 767px) {
    #transacciones #gallery-1{
    grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 560px) {
    #transacciones #gallery-1{
    grid-template-columns: repeat(2, 1fr);
    }
}
